framework:
    messenger:
        default_bus: command.bus
        buses:
            command.bus: ~
            query.bus: ~
            aggregate_event.bus:
                default_middleware: allow_no_handlers
            domain_event.bus:
                default_middleware: allow_no_handlers
                middleware:
                    - 'send_domain_event_to_subscriber_middleware'
                    - 'send_domain_event_to_publisher_middleware'
        transports:
            sync: 'sync://'
            domain_event_failed: '%env(DOMAIN_EVENT_DQL_TRANSPORT_DSN)%'
            domain_event_outbox: 'doctrine://default?queue_name=domain_event_outbox&check_delayed_interval=1000&auto_setup=false'

            domain_event_publisher:
                dsn: '%env(DOMAIN_EVENT_TRANSPORT_DSN)%'
                serializer: App\Framework\Infrastructure\Symfony\Messenger\Serializer\DomainEventSerializerInterface

            domain_event_subscriber:
                dsn: '%env(DOMAIN_EVENT_TRANSPORT_DSN)%'
                serializer: App\Framework\Infrastructure\Symfony\Messenger\Serializer\DomainEventSerializerInterface
                retry_strategy:
                    max_retries: 3
                    delay: 5000
                    multiplier: 2
                    max_delay: 0
                failure_transport: domain_event_failed

        routing:
            App\Foundation\DomainEventRegistry\DomainEventInterface: domain_event_outbox
            App\Framework\Domain\Model\Event\AggregateEventInterface: sync

services:
    send_domain_event_to_publisher_middleware:
        class: App\Framework\Infrastructure\Symfony\Messenger\Middleware\SendToPublisherMiddleware
        arguments:
            $transport: '@messenger.transport.domain_event_publisher'
    send_domain_event_to_subscriber_middleware:
        class: App\Framework\Infrastructure\Symfony\Messenger\Middleware\SendToSubscriberMiddleware
        arguments:
            $failedTransport: '@messenger.transport.domain_event_failed'
