services:
    php:
        restart: unless-stopped
        build:
            context: ./docker
            dockerfile: ./php/php.Dockerfile
        ports:
            - ${HOST_BACKEND_PORT:-8000}:8000
        volumes:
            - ./application:/var/task
            - ./application/var/cache:/tmp/cache
            - ./application/var/log:/tmp/log
            - ./docker/php/conf.d:/opt/bref/etc/php/conf.d
        environment:
            HANDLER: public/index.php
            DOCUMENT_ROOT: public
            APP_NAME: app
            CORS_ALLOW_ORIGIN: ${BASE_ADMIN_URL}
        user: ${DOCKER_USER:-1000:1000}
        networks:
            - backend
            - shared
    php-consumer:
        scale: ${BACKEND_CONSUMER_SCALE}
        restart: unless-stopped
        build:
            context: ./docker
            dockerfile: ./php/php.Dockerfile
        depends_on:
            - php
        volumes:
            - ./application:/var/task
            - ./application/var/log:/tmp/log
            - ./docker/php/conf.d:/opt/bref/etc/php/conf.d
        environment:
            APP_NAME: consumer
        command: ["bin/console", "messenger:consume", "scheduler_default", "--time-limit=300"]
        networks:
            - backend
            - shared
    php-domain-event-subscriber:
        scale: ${BACKEND_DOMAIN_SUBSCRIBER_SCALE}
        restart: unless-stopped
        build:
            context: ./docker
            dockerfile: ./php/php.Dockerfile
        depends_on:
            - php
        volumes:
            - ./application:/var/task
            - ./application/var/log:/tmp/log
            - ./docker/php/conf.d:/opt/bref/etc/php/conf.d
        environment:
            APP_NAME: subscriber
        command: ["bin/console", "messenger:consume", "domain_event_subscriber", "--time-limit=300"]
        networks:
            - backend
            - shared

networks:
    backend:
        name: backend
        external: false
    shared:
        name: shared
        external: true
