services:
    postgres:
        image: postgres:16-alpine
        ports:
            - ${HOST_DATABASE_PORT}:5432
        volumes:
            - postgres:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
    php:
        restart: unless-stopped
        depends_on:
            - postgres
        build:
            context: ./docker
            dockerfile: ./php/php.Dockerfile
        ports:
            - ${HOST_BACKEND_PORT}:8000
        volumes:
            - ./application:/var/task
            - ./application/var/cache:/tmp/cache
            - ./application/var/log:/tmp/log
            - ./docker/php/conf.d:/opt/bref/etc/php/conf.d
        environment:
            HANDLER: public/index.php
            DOCUMENT_ROOT: public
            APP_NAME: app
            CORS_ALLOW_ORIGIN: ${BASE_ADMIN_URL}
        user: 1000:1000
    php-consumer:
        scale: ${BACKEND_CONSUMER_SCALE}
        restart: unless-stopped
        build:
            context: ./docker
            dockerfile: ./php/php.Dockerfile
        depends_on:
            - php
        volumes:
            - ./application:/var/task
            - ./application/var/log:/tmp/log
            - ./docker/php/conf.d:/opt/bref/etc/php/conf.d
        environment:
            APP_NAME: consumer
        command: ["bin/console", "messenger:consume", "scheduler_default", "--time-limit=300"]
    php-domain-event-subscriber:
        scale: ${BACKEND_DOMAIN_SUBSCRIBER_SCALE}
        restart: unless-stopped
        build:
            context: ./docker
            dockerfile: ./php/php.Dockerfile
        depends_on:
            - php
        volumes:
            - ./application:/var/task
            - ./application/var/log:/tmp/log
            - ./docker/php/conf.d:/opt/bref/etc/php/conf.d
        environment:
            APP_NAME: subscriber
        command: ["bin/console", "messenger:consume", "domain_event_subscriber", "--time-limit=300"]

volumes:
    postgres:
        driver: local
