services:
    _defaults:
        autowire: true
        autoconfigure: true

    ### Framework ###

    App\Framework\Application\Command\CommandBusInterface: '@App\Framework\Infrastructure\Symfony\Messenger\SymfonyCommandBus'

    App\Framework\Application\Exception\ExceptionTransformerInterface: '@App\Framework\Application\Exception\ExceptionTransformer'

    App\Framework\Application\Exception\ExceptionTransformer: ~

    App\Framework\Application\Query\QueryBusInterface: '@App\Framework\Infrastructure\Symfony\Messenger\SymfonyQueryBus'

    App\Framework\Domain\Event\DomainEventBusInterface: '@App\Framework\Infrastructure\Symfony\Messenger\SymfonyDomainEventBus'

    App\Framework\Domain\Model\Event\AggregateEventsBusInterface: '@App\Framework\Infrastructure\Symfony\Messenger\SymfonyAggregateEventBus'

    App\Framework\Domain\Repository\TransactionBoundaryInterface: '@App\Framework\Infrastructure\Doctrine\DbalTransactionBoundary'

    App\Framework\Infrastructure\Doctrine\:
        resource: '../src/Framework/Infrastructure/Doctrine'

    App\Framework\Infrastructure\Symfony\Messenger\Serializer\DomainEventSerializerInterface: '@App\Framework\Infrastructure\Symfony\Messenger\Serializer\CloudEventsJsonSerializer'

    App\Framework\Infrastructure\Symfony\Messenger\Serializer\CloudEventsJsonSerializer: ~

    App\Framework\Infrastructure\Symfony\Messenger\SymfonyAggregateEventBus:
        arguments:
            $aggregateEventBus: '@aggregate_event.bus'

    App\Framework\Infrastructure\Symfony\Messenger\SymfonyCommandBus:
        arguments:
            $commandBus: '@command.bus'

    App\Framework\Infrastructure\Symfony\Messenger\SymfonyDomainEventBus:
        arguments:
            $domainEventBus: '@domain_event.bus'

    App\Framework\Infrastructure\Symfony\Messenger\SymfonyQueryBus:
        arguments:
            $queryBus: '@query.bus'

    App\Framework\Infrastructure\Symfony\Router\SymfonyInstanceProvider: ~

    App\Framework\Infrastructure\Symfony\Security\Admin\AdminAccessTokenHandler: ~

    App\Framework\UserInterface\ApiProblem\DebuggableExceptionTransformer: ~

    App\Framework\UserInterface\ApiProblem\ExceptionTransformerInterface: '@App\Framework\UserInterface\ApiProblem\DebuggableExceptionTransformer'

    App\Framework\UserInterface\ApiProblem\InstanceProviderInterface: '@App\Framework\Infrastructure\Symfony\Router\SymfonyInstanceProvider'

    ### RaffleDemo ###

    App\RaffleDemo\Notification\Application\:
        resource: '../src/RaffleDemo/Notification/Application'

    App\RaffleDemo\Notification\Application\Service\Notifier\NotifierInterface: '@App\RaffleDemo\Notification\Application\Service\Notifier\Notifier'

    App\RaffleDemo\Notification\Application\Service\Notifier\Notifier:
        arguments:
            $senders: !tagged_iterator notification.sender

    App\RaffleDemo\Notification\Domain\Repository\NotificationRepositoryInterface: '@App\RaffleDemo\Notification\Infrastructure\Repository\PostgresNotificationRepository'

    App\RaffleDemo\Notification\Infrastructure\Repository\PostgresNotificationRepository: ~

    App\RaffleDemo\Notification\Infrastructure\Sender\:
        resource: '../src/RaffleDemo/Notification/Infrastructure/Sender'

    App\RaffleDemo\Notification\UserInterface\Event\:
        resource: '../src/RaffleDemo/Notification/UserInterface/Event'

    App\RaffleDemo\Raffle\Application\:
        resource: '../src/RaffleDemo/Raffle/Application'

    App\RaffleDemo\Raffle\Domain\Model\Event\RaffleEventFactory: ~

    App\RaffleDemo\Raffle\Domain\Projection\Raffle\V1\RaffleProjector: ~

    App\RaffleDemo\Raffle\Domain\Projection\Raffle\V1\RaffleProjectionRepositoryInterface: '@App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\Projection\Raffle\V1\PostgresRaffleProjectionRepository'

    App\RaffleDemo\Raffle\Domain\Projection\RaffleAllocation\V1\RaffleAllocationProjector: ~

    App\RaffleDemo\Raffle\Domain\Projection\RaffleAllocation\V1\RaffleAllocationProjectionRepositoryInterface: '@App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\Projection\RaffleAllocation\V1\PostgresRaffleAllocationProjectionRepository'

    App\RaffleDemo\Raffle\Domain\Projection\RaffleWinner\V1\RaffleWinnerProjector: ~

    App\RaffleDemo\Raffle\Domain\Projection\RaffleWinner\V1\RaffleWinnerProjectionRepositoryInterface: '@App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\Projection\RaffleWinner\V1\PostgresRaffleWinnerProjectionRepository'

    App\RaffleDemo\Raffle\Domain\Repository\RaffleEventStoreRepository:
        arguments:
            $eventStore: '@App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\PostgresRaffleEventStore'

    App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\PostgresRaffleEventStore:
        arguments:
            $aggregateEventFactory: '@App\RaffleDemo\Raffle\Domain\Model\Event\RaffleEventFactory'
            $domain: 'raffle'

    App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\Projection\Raffle\V1\PostgresRaffleProjectionRepository: ~

    App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\Projection\RaffleAllocation\V1\PostgresRaffleAllocationProjectionRepository: ~

    App\RaffleDemo\Raffle\Infrastructure\Postgres\Repository\Projection\RaffleWinner\V1\PostgresRaffleWinnerProjectionRepository: ~

    App\RaffleDemo\Raffle\UserInterface\Cli\:
        resource: '../src/RaffleDemo/Raffle/UserInterface/Cli'

    App\RaffleDemo\Raffle\UserInterface\Rest\Error\ApiProblemExceptionListener: ~

    App\RaffleDemo\Raffle\UserInterface\Rest\V1\:
        resource: '../src/RaffleDemo/Raffle/UserInterface/Rest/V1'

    _instanceof:
        App\Framework\Application\Command\CommandHandlerInterface:
            tags:
                - { name: messenger.message_handler, bus: command.bus }

        App\Framework\Application\Query\QueryHandlerInterface:
            tags:
                - { name: messenger.message_handler, bus: query.bus }

        App\Framework\Domain\Projection\AggregateEventsSubscriberInterface:
            tags:
                - { name: messenger.message_handler, bus: aggregate_event.bus }

        App\Framework\UserInterface\Event\DomainEventSubscriberInterface:
            tags:
                - { name: messenger.message_handler, bus: domain_event.bus }

        App\RaffleDemo\Notification\Application\Service\Sender\SenderInterface:
            tags:
                - { name: notification.sender }

when@prod:
    services:
        App\Framework\UserInterface\ApiProblem\ExceptionTransformer:
            arguments:
                $additionalParams: { }

        App\Framework\UserInterface\ApiProblem\ExceptionTransformerInterface: '@App\Framework\UserInterface\ApiProblem\ExceptionTransformer'
